<div class="page-photo about-photo"><div class="photo-credit-container"><span class="photo-credit">Photo by <a href="https://www.flickr.com/photos/jeremybrooks/3389327558" target="_blank">Jeremy Brooks</a></span></div></div>
<div class="container">
<h1 class="display-4 pt-3">About</h1>
<p>This site was built by <a href="http://melodyreebs.com/" target="_blank">Melody Reebs</a> as a final project for CS 290 at Oregon State University.</p>
<div class="icon-links">
  <a href="mailto:reebsm@oregonstate.edu"><button type="button" class="btn btn-light"><i class="fas fa-envelope"></i></button></a>
  <a href="https://github.com/mobilemelody" target="_blank"><button type="button" class="btn btn-light"><i class="fab fa-github"></i></button></a>
  <a href="http://www.linkedin.com/profile/view?id=220706059" target="_blank"><button type="button" class="btn btn-light"><i class="fab fa-linkedin-in"></i></button></a>
  <a href="https://angel.co/mobilemelody" target="_blank"><button type="button" class="btn btn-light"><i class="fab fa-angellist"></i></button></a>
</div>
<div class="pt-3">
<p>This site uses the following tools and resources:
<ul>
  <li><a href="https://nodejs.org" target="_blank">Node.js</a></li>
  <li><a href="https://expressjs.com/" target="_blank">Express</a></li>
  <li><a href="https://handlebarsjs.com/" target="_blank">Handlebars</a></li>
  <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
  <li><a href="http://api.bart.gov/docs/overview/index.aspx" target="_blank">BART API</a></li>
	<li><a href="https://leafletjs.com/" target="_blank">Leaflet</a></li>
</ul>
<p><code>package.json</code> file:</p>
<pre class="pre-scrollable bg-light p-3"><code>{
  "name": "bart-info",
  "version": "1.0.0",
  "description": "BART Information",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": {
    "name": "Melody Reebs",
    "email": "reebsm@oregonstate.edu",
    "url": "http://melodyreebs.com"
  },
  "repository": {
    "type": "git",
    "url": "https://github.com/mobilemelody/bart-info.git"
  },
  "license": "ISC",
  "dependencies": {
    "body-parser": "^1.13.3",
    "express": "^4.13.2",
    "express-handlebars": "^2.0.1",
    "request": "^2.87.0"
  }
}</code>
</pre>
</div>
</div>